@page
@using Microsoft.AspNetCore.Authorization
@attribute [AllowAnonymous]
@model CarvedRock.WebApp.Pages.ListingModel

<script type="text/javascript">
    function addItemToCart(productIdToAdd) {
        var cookieString = getCookie("carvedrock-cart");  // defined in layout page
        var cartLink = document.getElementById("carvedrockcart");

        if (cookieString == "") {
            var propName = "product-" + productIdToAdd;
            var cookieData = [];
            cookieData.push({id: productIdToAdd, quantity: 1})
        } else {
            var decodedCookieData = cookieString;
            console.log(cookieString);

            var cookieData = JSON.parse(decodedCookieData);
            var itemToUpdate = cookieData.find(n => n.id === productIdToAdd);
            if (itemToUpdate == undefined) {
                cookieData.push({id: productIdToAdd, quantity: 1});
            } else {
                var itemAlreadyInCart = cookieData.findIndex(n => n.id === productIdToAdd);
                cookieData[itemAlreadyInCart] = { id: productIdToAdd, quantity: itemToUpdate.quantity + 1 };
            }            
        }
        console.log(JSON.stringify(cookieData));
        setCookie("carvedrock-cart", encodeURIComponent(JSON.stringify(cookieData)));
        setCartCount(); // defined in layout page        
    }
    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + ";path=/;SameSite=Lax";
    }   
</script>

<h1>@Model.CategoryName</h1>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th class="d-flex justify-content-center">Description</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model.Products) {
        <tr>
            <td>
                <img src="@product.ImgUrl" alt="@product.Name" height="100" width="100"/>
                <br/>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Price)               
            </td>
            <td>
                <button type="button" class="btn btn-warning" onclick="addItemToCart(@product.Id)">Add to Cart</button>
            </td>
        </tr>
    }
    </tbody>
</table>

